<div class="container-fluid">
<h1>Editing category</h1>

<%= render "form", category: @category %>

<br>
<p>
<div>
  <%= link_to "Show this category", @category, class:"btn btn-warning" %>
  <%= link_to "Back to categories", categories_path, class:"btn btn-primary" %>
</div>
</p>
</div>
